@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "EB Garamond";
        font-style: normal;
        /* font-weight: 400; */
        font-display: swap;
        src: url(./fonts/EBGaramond.ttf);
    }
    @font-face {
        font-family: "Clash Display";
        font-style: normal;
        /* font-weight: 400; */
        font-display: swap;
        src: url(./fonts/ClashDisplay-Variable.ttf);
    }
}
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
